ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.index-tab-div{
    height:12vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.index-tab-div2{
    height:12vh;
    width: 64%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.index-tab-list1{
    width: 24%;
    height: 12vh;

    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.index-tab-list-in{

    width: 80%;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-tab-list-in svg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: rgb(89, 188, 219);

}
.index-tab-line{
    height: 100%;
    height: 0.5vh;


}
.index-tab-line{
    width: 100%;
    height: 0.5vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.index-tab-line2{
    width: 64% ;
    height: 0.5vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-tab-linein{

    width: 24%;
    height: 0.5vh;
    background-color: rgb(89, 188, 219);
}
.bottom-line{
    background-color: #2d2121;
    height: 0.1vh;
}
.h3-p p{
    color: #9b9b9b;
}
.main-content{
    width: 100%;
}
.main-content-school1{
    width: 100%;

    margin-top:10vh;

}
.main-content-school1 h1{
   text-align: center;
}
.main-content-school1 p{
    text-align: center;
    font-size: 18px;
    color: #9b9b9b;
}
.video-class{
    display: flex;
    text-align: center;
    justify-content: center;
}
.main-content-school2{
    margin-top:20vh;

}
.main-content-school2 h1{
    text-align: center;
}
.main-content-school2 p{
    text-align: center;
    font-size: 18px;
    color: #9b9b9b;
}
.main-content-school2-slice{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-school2-slice1{

    height: 70vh;
    width: 80%;


    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content-school2-slicein{
    border-radius: 30px;
    height: 60vh;
    width: 21%;

}
.main-content-school2-slicein img{
    border-radius: 30px;
    height: 60vh;
    width: 100%;
}
.main-content-school2-slicein h2{
    text-align: center;
    color: #9b9b9b;
}
.main-content-school3{
    margin-top: 10vh;
}
.main-content-school3 h1{
    text-align: center;
}
.main-content-school3 p{
    text-align: center;
    font-size: 18px;
    color: #9b9b9b;
}
.main-content-schoolb{
    display: flex;

justify-content: center;
    align-items: center;
}
.main-content-schoola{
    margin-top: 10vh;
    width: 60%;
}
.main-content-schoola h1{
    text-align: center;
}
.main-content-schoola p{
    text-align: center;
    font-size: 18px;
    color: #9b9b9b;
}
.main-content-school3-content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    position: relative;
    width: 80%;
    height: 60vh;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-width: 1px;
    border-color: #9b9b9b;
}
.boxes p {
    color: #fff;
    font-size: 24px;
    z-index: 1;
}
.boxes::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 300%;
    background: linear-gradient(rgb(24, 98, 235), rgb(229, 66, 6));
}
.boxes::after {
    content: "";
    position: absolute;
    background-image: url("../images/back.png");
    inset: 4px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.boxes::before {
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.main-content-school3-content img{
    width: 70%;
}
.main-content-school4{
    margin-top: 10vh;
}
.main-content-school4 h1{
    text-align: center;
}
.main-content-school4 p{
    text-align: center;
    font-size: 18px;
    color: #9b9b9b;
}
.main-content-school4-content{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

}
.main-content-school4-content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 50vh;
}

.content-p{
    width: 24%;
    height: 45vh;

    border-color: #dcdcdc;
    border-radius: 10px;
    border-width: 0.5px;
    border-style: solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.content-p p{
    margin-top: 10px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.content-p svg{

    color: rgb(89, 188, 219);
}
.icon1{
    width: 140px;
}
.icon2{
    margin-top: 10px;
    width: 130px;
}
.icon3{
    margin-top: 10px;
    width: 120px;
}
.icon4{
    margin-top: 10px;
    width: 115px;
}
.el-zoom-in-center{
    height: 60vh;
    width: 21%;
}
.transition-box {
    margin-bottom: 10px;
    height: 60vh;
    width: 21%;

    border-radius: 4px;
    background-color: #409eff;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-right: 20px;
}
.button-choose{
    margin-left: 10%;
}
